#submit_button
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
#sort_button
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}
h3
{
	border-radius: 10;
	border: width 15px;
	border-top-color: black;
}